.docs-sidebar,
.docs-toc {
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  padding: 1.5rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.docs-sidebar {
  top: 0;
  height: 100vh;
  padding: 0;

  nav {
    padding: 1.5rem;
  }

  .sidebar-accordion {
    .sidebar-accordion-group-item {
      padding-bottom: 0.5rem;

      .sidebar-accordion-group-link {
        color: $gray-700;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
      }

      .sidebar-accordion-group-list {
        padding: 1rem 0;

        .sidebar-accordion-group-list-item {
          padding-bottom: 0;

          .sidebar-accordion-group-list-link {
            color: $gray-600;
            font-size: 0.9rem;
            font-weight: 400;
          }
          
          &.active {
            .sidebar-accordion-group-list-link {
              font-weight: bolder;
            }
          }
        }
      }
    }
  }

  .sidebar-list-group {
    .sidebar-list-group-item {
      padding-bottom: 0.25rem;
      .sidebar-list-group-link {
        color: $gray-700;
        font-size: 1rem;
        cursor: pointer;
      }
      &.active{
        .sidebar-list-group-link {
          font-weight: 500;
        }
      }
      &.active:not(:first-child) {
        padding-top: 0.25rem;
        padding-bottom: 0.75rem;
      }
      &.active:first-child {
        padding-bottom: 0.5rem;
      }
    }
  }
}

.docs-toc {
  padding-left: 0;

  .toc-list-group {
    border-left: 1px solid $gray-300;

    .toc-list-group-item {
      padding-bottom: 0.125rem;

      .toc-list-group-link {
        text-transform: capitalize;
        color: $gray-600;
      }

      &.toc-h2 {
        padding-left: 1.5rem;

        // padding-bottom: .25rem
        .toc-list-group-link {
          font-size: 0.8rem;
        }
      }

      &.toc-h3 {
        padding-left: 2rem;

        // padding-bottom: .2rem
        .toc-list-group-link {
          font-size: 0.75rem;
        }
      }

      &.toc-h4 {
        padding-left: 2.25rem;

        // padding-bottom: .15rem
        .toc-list-group-link {
          font-size: 0.7rem;
        }
      }
    }
  }
}

// ======================================
// Sidebars // custom scroll bar
// ======================================
.docs-sidebar::-webkit-scrollbar,
.docs-toc::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.docs-sidebar::-webkit-scrollbar-button,
.docs-toc::-webkit-scrollbar-button {
  width: 5px;
  height: 0.25rem;
}

.docs-sidebar::-webkit-scrollbar-thumb,
.docs-toc::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 5rem;
  width: 5px;
  height: 5px;
}

.docs-sidebar::-webkit-scrollbar-track,
.docs-toc::-webkit-scrollbar-track {
  background: transparent;
}

#search-results-list-sidebar {
  position: absolute;
  top: 4rem;
  width: 100%;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.25);
  > .list-group-item-action {
    border-radius: 0
  }
}

@media (min-width: 991px) {
  .docs-sidebar {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}